<!-- Hero Start -->
<div class="cover p-5 text-center bg-image rounded-3" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>)">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3"><%= @list.name %></h1>
      <% if @list.movies.empty? %>
        <div class="mb-3">You haven't saved any movies yet!</div>
      <% else %>
        <div class="mb-3"> <%= pluralize(@list.movies.size, "movie") %> </div>
      <% end %>
      <button class="btn btn-outline-light btn-lg" data-bs-toggle="modal" data-bs-target="#new_movie_modal"><span class="fa-solid fa-plus"></span>  Add a movie</button>
      <!-- Render to bookmarks/modal -->
      <%= render "bookmarks/modal", list: @list, bookmark: @bookmark %>
    </div>
  </div>
</div>
<!-- Hero End -->
<!-- Main container Start -->
<div class="container container-bookmark d-flex py-5">
  <!-- Cards container Start -->
    <div class="cards-bookmark">
      <% @list.movies.each do |movie| %>
        <div class="card-bookmark">
          <%= image_tag movie.poster_url, alt: movie.title, class: "card-img-top" %>
          <div class="card-body d-flex flex-column p-4">
            <h5 class="card-title mb-2"><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> </span><i class="fas fa-star star-yellow" style="color: #ffca57;"></i></h5>
            <p class="card-text mb-4"><%= movie.overview %></p>
            <div class="bookmark-details d-flex">
              <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
              <div><i class="fa-solid fa-bookmark"></i>   <%= bookmark.comment %></div>
              <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
